.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.688);
    
}

.navbar-items {
    display: grid;
    flex-direction: row;
    gap: 10px;
}

